*~
# Virtuoso files /data/db
/data/db/*
!/data/db/toLoad
!/data/db/toLoad/*

# Migrations
config/migrations/*
!config/migrations/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]-*
*sensitive*

/data/authorization/*
/data/filedrop/*
/data/backups/*
/data/token-cache
/data/conversion

# Search data
data/elasticsearch/*
data/next-elasticsearch/*
config/search/*.store
config/next-search/*.store

docker-compose.override.yml
.env
logs/

*~
