body {
    width: 21cm;
    background: white;
    font: 8pt "Arial";
    color: #5f6368;
    margin: 0;
    padding-left: 1.4cm;
    padding-right: 1.4cm;         
    box-sizing: border-box;
    position: relative;
}

table {
    font: 8pt "Arial";
}

table td.key {
    font-weight: bold;
}

table tr {
    vertical-align: top;
}

header {
    width: 100%;
}

header .col-1 {
    width: 8cm;
}

header .col-1 img {
    width: 3.5cm;
}

header .col-1 .logo {
    margin-bottom: 5mm;
}

header .col-2 {
    width: 5cm;
}

header .col-2 img {
    width: 5cm;
}

header .col-2 .website {
    font-weight: bold;
    margin-top: 1mm;
}

header .col-3 {
    width: 5cm;
    text-align: right;
}

header .col-1 .title {
    font-size: 14pt;
    font-weight: bold;
    color: #C43831;
    text-transform: uppercase;
    letter-spacing: -0.1em;
}

.subheader {
    width: 100%;
    margin-top: 6.5mm;
}

.subheader .col.col-1 {
    width: 8.5cm;
}

.subheader .col.col-2 {
    width: 9cm;
}

.subheader .col-1 .building {
    margin-top: 3mm;
}

.subheader .col-2 .datum {
    margin-left: 2cm;
    margin-bottom: 5mm;
}

.subheader .col-2 .address {
    margin-bottom: 11mm;
}

.subheader .col-2 .contact .contactline--telephone {
    margin-right: 4mm;
}

.subheader .note {
    font-size: 8pt;
    font-style: italic;
}

.subheader .col-1 h3 {
    padding-left: 1px;
}

header .col,
.subheader .col {
    display: inline-block;
    vertical-align: top;
}

ul {
    margin: 0
}

.signature {
    margin-left: 10cm;
    margin-top: 1cm;
}

.signature-blank-field {
    margin-left: 10cm;
    margin-bottom: 4cm;
}

.introduction,
.outroduction,
.pricing,
.offerlines,
.invoicelines {
    margin-top: 1cm;
}

.offerline,
.invoiceline {
    width: 100%;
    margin-top: 3mm;
    padding-top: 3mm;
    padding-left: 2mm;
    border-top: 1px solid #a5aeba;
}

.offerline.offerline-header,
.invoiceline.invoiceline-header {
    text-transform: uppercase;
    font-weight: bold;
    border-top: 0;
}

.offerline:nth-child(2),
.invoiceline:nth-child(2) {
    border-color: #5f6368;
}

.offerline div.col,
.invoiceline div.col {
    display: inline-block;
    vertical-align: top;
}

.offerline .col-1 {
    width: 12cm;
}

.invoiceline .col-1 {
    width: 14cm;
}

.offerline .col-2,
.offerline .col-3,
.invoiceline .col-2 {
    width: 2.5cm;
    text-align: right;
}

.invoiceline.priceline {
    border-top: 0;
    margin-top: 0;
    padding-top: 1mm;
}

.invoiceline.priceline .col-1 {
    text-align: right;
}

.invoiceline.priceline.priceline-total-net {
    margin-top: 3mm;
}

.invoiceline.priceline.priceline-total-gross {
    font-weight: bold;
}

.invoiceline.priceline.priceline-total-deposit-invoice {
    font-weight: bold;
    margin-top: 3mm;
}

form div {
    margin-top: 5mm;
}

form div.input-field {
    margin-left: 1cm;
}

.footnote {
    border-top: 1px solid #5f6368;
}

.text-center {
    text-align: center;
}

.certificate--description {
    border-top: 1px solid #5f6368;
    border-bottom: 1px solid #5f6368;
    margin-bottom: 3mm;
    padding: 2mm 0;
    line-height: 1.5;
}

.certificate--content {
    line-height: 1.5;
}
