body {
    width: 21cm;
    background: white;
    font: 8pt "Arial";
    color: #5f6368;
    margin: 0;
    padding-left: 1.4cm;
    padding-right: 1.4cm;         
    box-sizing: border-box;
    position: relative;
}

table {
    font: 8pt "Arial";
}

table td.key {
    font-weight: bold;
}

table tr {
    vertical-align: top;
}

header {
    width: 100%;
}

header .col-1 {
    width: 8cm;
}

header .col-1 img {
    width: 3.5cm;
}

header .col-1 .logo {
    margin-bottom: 5mm;
}

header .col-2 {
    width: 5cm;
}

header .col-2 img {
    width: 5cm;
}

header .col-2 .website {
    font-weight: bold;
    margin-top: 2mm;
}

header .col-3 {
    width: 5cm;
    text-align: right;
}

header .col-1 .title {
    font-size: 14pt;
    font-weight: bold;
    color: #C43831;
    text-transform: uppercase;
    letter-spacing: -0.1em;
}

.subheader {
    width: 100%;
    margin-top: 7.5mm;
}

.subheader .col.col-1 {
    width: 8.5cm;
}

.subheader .col.col-2 {
    width: 9cm;
}

.subheader .col-1 .building {
    margin-top: 3mm;
}

.subheader .col-2 .datum {
    margin-left: 2cm;
    margin-bottom: 5mm;
}

.subheader .col-2 .address {
    margin-bottom: 1cm;
}

.subheader .col-2 .contact .contactline--telephone {
    margin-right: 4mm;
}

.subheader .note {
    font-size: 8pt;
    font-style: italic;
}

header .col,
.subheader .col {
    display: inline-block;
    vertical-align: top;
}

ul {
    margin: 0
}

.signature {
    margin-left: 10cm;
    margin-top: 1cm;
}

.introduction,
.outroduction,
.pricing,
.offerlines {
    margin-top: 1cm;
}

.offerline {
    width: 100%;
    margin-top: 3mm;
    padding-top: 3mm;
    padding-left: 2mm;
    border-top: 1px solid #a5aeba;
}

.offerline.offerline-header {
    text-transform: uppercase;
    font-weight: bold;
    border-top: 0;
}

.offerline:nth-child(2) {
    border-color: #5f6368;
}

.offerline div.col {
    display: inline-block;
    vertical-align: top;
}

.offerline .col-1 {
    width: 12cm;
}

.offerline .col-2,
.offerline .col-3 {
    width: 2.5cm;
    text-align: right;
}
