<html>
  <head>
    <head>
      <link rel="stylesheet" type="text/css" href="/templates/styles/document.css">
      <style>
       .certificate-document .introduction {
           margin-top: 2cm;
       }
      </style>
    </head>
  </head>
  <body class="certificate-document">
    <section class="introduction">
      <p><i>Om te genieten van het verlaagd BTW-tarief van 6%, dient u dit document ingevuld terug te sturen naar:</i></p>
      <div class="text-center">Rollvolet<br>Mechelsesteenweg 666<br>1800 Vilvoorde<br><br>admin@rollvolet.be</div>
      <p>Bij voorbaat dank.</p>
    </section>
    <section class="certificate--description">
      <h1 class="text-center">ATTEST</h1>
      <p><i>Toepassing van het verlaagd BTW-tarief van 6% op werken in onroerende staat aan priv&eacute;woningen krachtens de bepalingen van de rubrieken XXXI en XXXVIII van het koninklijk besluit nr. 20 van 20 juli 1970 tot vaststelling van de tarieven van de belasting over de toegevoegde waarde en tot indeling van de goederen en diensten bij die tarieven.</i></p>
    </section>
    <form>
      <table>
        <tr>
          <td>Ondergetekende:</td>
          <td><!-- {{CUSTOMER_NAME}} --></td>
        </tr>
        <tr>
          <td>Wonende te:</td>
          <td><!-- {{CUSTOMER_ADDRESS}} --></td>
        </tr>
      </table>
      <div>
        <p>verklaart dat hij/zij<sup>1</sup>:</p>
        <p>&#9744; eigenaar</p>
        <p>&#9744; huurder</p>
        <p>&#9744; vruchtgebruiker</p>
        <p>&#9744; beheerder</p>
        <p>&#9744; .....................................................................</p>
        <p>is van het gebouw gelegen te:</p>
      </div>
      <div class="input-field"><!-- {{BUILDING_ADDRESS}} --></div>
      <div>
        <p>en verklaart dat dit gebouw:</p>
        <ul class="certificate--content">
          <li>effectief in gebruik is sedert ten minste tien jaar v&oacute;&oacute;r het eerste tijdstip van de verschuldigdheid van de BTW op de werken die worden uitgevoerd overeenkomstig het factuurnummer <!-- {{INVOICE_NUMBER}} --> de dato <!-- {{INVOICE_DATE}} -->.</li>
          <li>na de uitvoering van de vermelde werken effectief en uitsluitend/hoofdzakelijk zal gebruikt worden als priv&eacute;woning</li>
        </ul>
      </div>
    </form>
    <section class="outroduction">
      <p>Gedaan te .................................................................., <i>(gemeente)</i></p>
      <p>op datum  ................................ .</p>
      <br>
      <p class="signature-blank-field">
        Handtekening
      </p>
    </section>
    <section class="footnote-explanations">
      <p><sup>1</sup> Aanduiden wat past</p>
    </section>
  </body>
</html>
