<section class="visit-entry">
  <div class="title">AD<!-- {{NUMBER}} --></div>
  <div class="grid">
    <div class="col col-1">
      <div class="u-spacer--top">
        <div><strong><!-- {{CUSTOMER_NAME}} --></strong></div>
        <div><!-- {{CUSTOMER_ADDRESS}} --></div>
      </div>
      <div class="u-spacer--top">
        <div><!-- {{CUSTOMER_TELEPHONES}} --></div>
      </div>
      <div class="u-spacer--top">
        <div><!-- {{CUSTOMER_EMAIL_ADDRESSES}} --></div>
      </div>
    </div>
    <div class="col col-2">
      <div class="building">
        <div><strong>GEBOUW:</strong></div>
        <div><strong><!-- {{BUILDING_NAME}} --></strong></div>
        <div><!-- {{BUILDING_ADDRESS}} --></div>
      </div>
      <div class="u-spacer--top building">
        <div><!-- {{BUILDING_TELEPHONES}} --></div>
      </div>
      <div class="u-spacer--top building">
        <div><!-- {{BUILDING_EMAIL_ADDRESSES}} --></div>
      </div>
      <div class="u-spacer-xl--top contact">
        <div><strong>CONTACT:</strong></div>
        <div><strong><!-- {{CONTACT_NAME}} --></strong></div>
        <div><!-- {{CONTACT_ADDRESS}} --></div>
      </div>
      <div class="u-spacer--top contact">
        <div><!-- {{CONTACT_TELEPHONES}} --></div>
      </div>
      <div class="u-spacer--top contact">
        <div><!-- {{CONTACT_EMAIL_ADDRESSES}} --></div>
      </div>
    </div>
    <div class="col col-3">
      <div class="">
        <div>Aanm.: <!-- {{REQUEST_DATE}} --> via <!-- {{WAY_OF_ENTRY}} --></div>
        <div>Bezoek: <!-- {{VISIT_DATE}} --> <!-- {{VISIT_TIME}} --></div>
        <div>Taal: <!-- {{LANGUAGE}} --></div>
      </div>
      <div class="u-spacer-xl--top">
        <!-- {{ORDER_HISTORY}} -->
      </div>
    </div>
  </div>
  <div class="u-spacer--top">
    <!-- {{DESCRIPTION}} -->
  </div>
</section>
