<html>
  <head>
    <head>
      <link rel="stylesheet" type="text/css" href="/templates/styles/document.css">
      <style>
       <!-- {{INLINE_CSS}} -->
      </style>
    </head>
  </head>
  <body>
    <header>
      <div class="col col-1">
        <div class="logo"><img src="/templates/images/rollvolet-logo.jpg"></div>
      </div>
      <div class="col col-2">
        <img src="/templates/images/rollvolet-name.jpg">
        <div>SA</div>
        <br/>
        <div class="website">www.rollvolet.be</div>
      </div>
      <div class="col col-3">
        Mechelsesteenweg 666<br/>
        B-1800 Vilvoorde<br/>
        <b>T&eacute;l.:</b> 02 251 03 23<br/>
        <b>E-mail:</b> info@rollvolet.be
      </div>
      <div>
        <div class="title">Volets - Stores pare soleil - portes sectionnelles</div>
        <div>fond&eacute;e en 1920</div>
      </div>
    </header>

    <section class="subheader">
      <div class="col col-1">
        <h3>FACTURE <!-- {{NUMBER}} --></h3>
        <div class="references">
          <table>
            <tr class="references--date">
              <td class='key'>Date:</td>
              <td><!-- {{DATE}} --></td>
            </tr>
            <tr class="references--customer_number">
              <td class='key'>Num&eacute;ro de client:</td>
              <td><!-- {{CUSTOMER_NUMBER}} --></td>
            </tr>
            <tr class="references--own_reference">
              <td class='key'>Notre r&eacute;f&eacute;rence:</td>
              <td><!-- {{OWN_REFERENCE}} --></td>
            </tr>
            <tr class="references--ext_reference">
              <td class='key'>Votre r&eacute;f&eacute;rence:</td>
              <td><!-- {{EXT_REFERENCE}} --></td>
            </tr>
          </table>
        </div>
        <div class='building'>
          <table>
            <tr>
              <td class="key">Concerne:</td>
              <td><!-- {{BUILDING}} --></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col col-2">
        <div class="address">
          <!-- {{ADDRESSLINES}} -->
        </div>
        <div class="contact">
          <!-- {{CONTACTLINES}} -->
        </div>
      </div>
    </section>

    <section class="invoicelines">
      <div class="invoiceline invoiceline-header">
        <div class="col col-1">D&eacute;signation</div>
        <div class="col col-2">Prix unitaire HT</div>
      </div>
      <!-- {{INVOICELINES}} -->
    </section>

    <section class="pricelines">
      <div class="priceline priceline-header">
        <div class="col col-1"></div>
        <div class="col col-2">Base HT</div>
        <div class="col col-3 taxfree">autoliquidation</div>
        <div class="col col-3 not-taxfree"><!-- {{VAT_RATE}} -->% TVA</div>
        <div class="col col-4">Montant TTC</div>
      </div>
      <div class="priceline priceline-total-order">
        <div class="col col-1">Montant de <span class="order-key">la commande</span><span class="intervention-key">la r&eacute;paration</span> compl&egrave;te</div>
        <div class="col col-2">&euro; <!-- {{TOTAL_NET_ORDER_PRICE}} --></div>
        <div class="col col-3">&euro; <!-- {{TOTAL_VAT_ORDER_PRICE}} --></div>
        <div class="col col-4">&euro; <!-- {{TOTAL_GROSS_ORDER_PRICE}} --></div>
      </div>
      <div class="priceline priceline-deposit-invoice">
        <div class="col col-1">Montant de la facture d'acompte <!-- {{DEPOSIT_INVOICE_NUMBERS}} --></div>
        <div class="col col-2">&minus; &euro; <!-- {{TOTAL_NET_DEPOSIT_INVOICES}} --></div>
        <div class="col col-3">&minus; &euro; <!-- {{TOTAL_VAT_DEPOSIT_INVOICES}} --></div>
        <div class="col col-4">&minus; &euro; <!-- {{TOTAL_GROSS_DEPOSIT_INVOICES}} --></div>
      </div>
      <div class="priceline priceline-total-net">
        <div class="col col-1">Total</div>
        <div class="col col-2">&euro; <!-- {{TOTAL_NET}} --></div>
        <div class="col col-3">&euro; <!-- {{TOTAL_VAT}} --></div>
        <div class="col col-4">&euro; <!-- {{TOTAL_GROSS}} --></div>
      </div>
      <div class="priceline priceline-deposit">
        <div class="col col-1">Acompte pay&eacute;</div>
        <div class="col col-2"></div>
        <div class="col col-3"></div>
        <div class="col col-2">&minus; &euro; <!-- {{TOTAL_DEPOSITS}} --></div>
      </div>
      <div class="priceline priceline-already-paid">
        <div class="col col-1"></div>
        <div class="col col-2"></div>
        <div class="col col-3"></div>
        <div class="col col-4">D&Eacute;J&Agrave; PAY&Eacute;E</div>
      </div>
      <div class="priceline priceline-to-pay">
        Net &agrave; payer: &euro; <!-- {{TOTAL_TO_PAY}} -->
      </div>
    </section>

    <section class="outroduction nobreak">
      <p><!-- {{OUTRO}} --></p>
      <p class="payment-notification">
        Nous vous prions de verser la solde <span class="payment-notification--deadline"><b>avant le <!-- {{PAYMENT_DUE_DATE}} --> </b></span>sur notre compte <b>BE24 4347 1829 8138</b> avec la communication structure&eacute; <b><!-- {{BANK_REFERENCE}} --></b>.
      </p>
      <p class="certificate-notification">
        Taux de TVA: en l'absence de contestation par &eacute;crit, dans un d&eacute;lai d'un mois &agrave; compter de la r&eacute;ception de la facture, le client est pr&eacute;sum&eacute; reconna&icirc;tre que (1) les travaux sont effectu&eacute;s &agrave; un b&acirc;timent d'habitation dont la premi&egrave;re occupation a eu lieu au cours d'une ann&eacute;e civile qui pr&eacute;c&egrave;de d'au moins (dix ans) la date de la premi&egrave;re facture relative &agrave; ces travaux, qu'apr&egrave;s l'ex&eacute;cution de ces travaux, (2) l'habitation est utilis&eacute;e, soit exclusivement, soit &agrave; titre principal comme logement priv&eacute; et (3) que ces travaux sont fournis et factur&eacute;s &agrave; un consommateur final.
      </p>
      <p class="certificate-notification">
        Si au moins une de ces conditions n'est pas remplie, le taux normal de TVA de 21% sera applicable et le client endossera, par rapport &agrave; ces conditions, la responsabilit&eacute; quant au paiement de la taxe, des int&eacute;r&ecirc;ts et des amendes dus.
      </p>
      <p class="btw-verlegd">
        Report de la perception. En l'absence de contestation par &eactue;crit, dans un d&eactue;lai d'un mois &agrave; compter de la r&eacute;ception de la facture, le client est pr&eacute;sum&eacute; reconna&icirc;tre que qu'il est un assujetti tenu de d&eacute;poser des d&eacute;clarations p&eacute;riodiques. Si cette condition n'est pas remplie, le client endossera, par rapport &agrave; ces conditions, la responsabilit&eacute; quant au paiement de la taxe, des int&eacute;r&egrave;ts et des amendes dus.
      </p>
    </section>
  </body>
</html>
