<footer style="font-family: 'Carlito', 'Calibri', 'Arial', sans-serif; font-size:8pt;color:#5f6368;border-top: 0.5mm solid #C43831;padding-top:2mm;margin-left:1.2cm;margin-right:1.2cm;margin-bottom:5mm">
  <div class="col col-1" style="display:inline-block;vertical-align:top;width:6cm">
    KBC: BE24 4347 1829 8138<br/>
    BIC: KRED BE BB
  </div>
  <div class="col col-2" style="display:inline-block;vertical-align:top;width:6cm;text-align:center">
    BTW BE 0400.699.872
  </div>
  <div class="col col-3" style="display:inline-block;vertical-align:top;text-align:right;min-width:6cm">
    RPR Brussel<br/>
    Reg. Nr. 04/00/91
  </div>
</footer>

