<html>
  <head>
    <head>
      <link rel="stylesheet" type="text/css" href="/templates/styles/document.css">
      <style>
       <!-- {{INLINE_CSS}} -->
      </style>
    </head>
  </head>
  <body>
    <header>
      <div class="col col-1">
        <div class="logo"><img src="/templates/images/rollvolet-logo.jpg"></div>
      </div>
      <div class="col col-2">
        <img src="/templates/images/rollvolet-name.jpg">
        <div>BVBA</div>
        <br/>
        <div class="website">www.rollvolet.be</div>
      </div>
      <div class="col col-3">
        Mechelsesteenweg 666<br/>
        B-1800 Vilvoorde<br/>
        <b>Tel.:</b> 02 251 03 23<br/>
        <b>E-mail:</b> info@rollvolet.be
      </div>
      <div>
        <div class="title">Rolluiken - zonwering - poorten</div>
        <div>gesticht in 1920</div>
      </div>
    </header>

    <section class="subheader">
      <div class="col col-1">
        <h3>OFFERTE</h3>
        <div class="references">
          <table>
            <tr class="references--date">
              <td class='key'>Offertedatum:</td>
              <td><!-- {{DATE}} --></td>
            </tr>
            <tr class="references--own_reference">
              <td class='key'>Onze referentie:</td>
              <td><!-- {{OWN_REFERENCE}} --></td>
            </tr>
            <tr class="references--ext_reference">
              <td class='key'>Uw referentie:</td>
              <td><!-- {{EXT_REFERENCE}} --></td>
            </tr>
          </table>
        </div>
        <div class='building'>
          <table>
            <tr>
              <td class="key">Betreft:</td>
              <td><!-- {{BUILDING}} --></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col col-2">
        <div class="address">
          <!-- {{ADDRESSLINES}} -->
        </div>
        <div class="contact">
          <!-- {{CONTACTLINES}} -->
        </div>
      </div>
    </section>

    <section class="introduction">
      <!-- {{INTRO}} -->
    </section>

    <section class="offerlines">
      <div class="offerline offerline-header">
        <div class="col col-1">Omschrijving</div>
        <div class="col col-2">Netto</div>
        <div class="col col-3">BTW</div>
      </div>
      <!-- {{OFFERLINES}} -->
    </section>

    <section class="pricing">
      <!-- {{CONDITIONS}} -->
      <p>Door goedkeuring van deze offerte verklaart u zich akkoord met de bijgevoegde algemene voorwaarden.</p>
    </section>

    <section class="outroduction">
      <p class="outro">

      </p>
      <p class="signature">
        Met vriendelijke groet<br/>
        <br/>
        Rollvolet
      </p>
    </section>
  </body>
</html>
