<html>
  <head>
    <head>
      <link rel="stylesheet" type="text/css" href="/templates/styles/document.css">
      <style>
       <!-- {{INLINE_CSS}} -->
      </style>
    </head>
  </head>
  <body>
    <header>
      <div class="col col-1">
        <div class="logo"><img src="/templates/images/rollvolet-logo.jpg"></div>
      </div>
      <div class="col col-2">
        <img src="/templates/images/rollvolet-name.jpg">
        <div>NV</div>
        <br/>
        <div class="website">www.rollvolet.be</div>
      </div>
      <div class="col col-3">
        Mechelsesteenweg 666<br/>
        B-1800 Vilvoorde<br/>
        <b>Tel.:</b> 02 251 03 23<br/>
        <b>E-mail:</b> info@rollvolet.be
      </div>
      <div>
        <div class="title">Rolluiken - zonwering - poorten</div>
        <div>gesticht in 1920</div>
      </div>
    </header>

    <section class="subheader">
      <div class="col col-1">
        <h3>VOORSCHOTFACTUUR <!-- {{NUMBER}} --></h3>
        <div class="references">
          <table>
            <tr class="references--date">
              <td class='key'>Factuurdatum:</td>
              <td><!-- {{DATE}} --></td>
            </tr>
            <tr class="references--customer_number">
              <td class='key'>Klantnummer:</td>
              <td><!-- {{CUSTOMER_NUMBER}} --></td>
            </tr>
            <tr class="references--own_reference">
              <td class='key'>Onze referentie:</td>
              <td><!-- {{OWN_REFERENCE}} --></td>
            </tr>
            <tr class="references--ext_reference">
              <td class='key'>Uw referentie:</td>
              <td><!-- {{EXT_REFERENCE}} --></td>
            </tr>
          </table>
        </div>
        <div class='building'>
          <table>
            <tr>
              <td class="key">Betreft:</td>
              <td><!-- {{BUILDING}} --></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col col-2">
        <div class="address">
          <!-- {{ADDRESSLINES}} -->
        </div>
        <div class="contact">
          <!-- {{CONTACTLINES}} -->
        </div>
      </div>
    </section>

    <section class="invoicelines">
      <div class="invoiceline invoiceline-header">
        <div class="col col-1-2">
          <div>Voorschotfactuur voor offerte <!-- {{REQUEST_NUMBER}} --></div>
          <div class="invoiceline-subheader"><i>Totaal bestelling excl. btw: &euro; <!-- {{TOTAL_NET_PRICE}} --></i></div>
        </div>
      </div>
      <!-- {{INVOICELINES}} -->
      <div class="invoiceline summary priceline-total-net">
        <div class="col col-1">Totaal excl. btw</div>
        <div class="col col-2">&euro; <!-- {{TOTAL_NET_DEPOSIT_INVOICE}} --></div>
      </div>
      <div class="invoiceline summary priceline-vat">
        <div class="col col-1-2 taxfree">btw verlegd</div>
        <div class="col col-1 not-taxfree"><!-- {{VAT_RATE}} -->% btw</div>
        <div class="col col-2 not-taxfree">&euro; <!-- {{TOTAL_VAT_DEPOSIT_INVOICE}} --></div>
      </div>
      <div class="invoiceline summary priceline-total-gross">
        <div class="col col-1">Totaal incl. btw</div>
        <div class="col col-2">&euro; <!-- {{TOTAL_GROSS_DEPOSIT_INVOICE}} --></div>
      </div>
      <div class="invoiceline summary priceline-already-paid">
        <div class="col col-1-2">REEDS VOLDAAN</div>
      </div>
      <div class="invoiceline summary priceline-to-pay">
        Te betalen bedrag: &euro; <!-- {{TOTAL_GROSS_DEPOSIT_INVOICE}} -->
      </div>
    </section>

    <section class="outroduction nobreak">
      <p><!-- {{OUTRO}} --></p>
      <p class="payment-notification">Wij verzoeken u vriendelijk het bedrag <span class="payment-notification--deadline"><b>v&oacute;&oacute;r <!-- {{PAYMENT_DUE_DATE}} --> </b></span>over te maken op rekeningnummer <b>BE24 4347 1829 8138</b> met als mededeling <b><!-- {{BANK_REFERENCE}} --></b>.</p>
      <p class="certificate-notification">
        Btw-tarief: Bij gebrek aan schriftelijke betwisting binnen een termijn van &eacute;&eacute;n maand vanaf de ontvangst van de factuur, wordt de klant geacht te erkennen dat (1) de werken worden verricht aan een woning waarvan de eerste ingebruikneming heeft plaatsgevonden in een kalenderjaar dat ten minste tien jaar voorafgaat aan de datum van de eerste factuur met betrekking tot die werken, (2) de woning, na uitvoering van die werken, uitsluitend of hoofdzakelijk als priv&eacute;woning wordt gebruikt en (3) de werken worden verstrekt en gefactureerd aan een eindverbruiker.
      </p>
      <p class="certificate-notification">
        Wanneer minstens &eacute;&eacute;n van die voorwaarden niet is voldaan, zal het normale btw-tarief van 21% van toepassing zijn en is de afnemer ten aanzien van die voorwaarden aansprakelijk voor de betaling van de verschuldigde belasting, interesten en geldboeten.
      </p>
    </section>
  </body>
</html>
