<html>
  <head>
    <head>
      <link rel="stylesheet" type="text/css" href="/templates/styles/document.css">
      <style>
       .invoiceline.priceline.priceline-total-deposit-invoice {
           border: 2px solid #5f6368;
           text-align: center;
           padding: 1.2mm;
       }
       <!-- {{INLINE_CSS}} -->
      </style>
    </head>
  </head>
  <body>
    <header>
      <div class="col col-1">
        <div class="logo"><img src="/templates/images/rollvolet-logo.jpg"></div>
      </div>
      <div class="col col-2">
        <img src="/templates/images/rollvolet-name.jpg">
        <div>SPRL</div>
        <br/>
        <div class="website">www.rollvolet.be</div>
      </div>
      <div class="col col-3">
        Mechelsesteenweg 666<br/>
        B-1800 Vilvoorde<br/>
        <b>T&eacute;l.:</b> 02 251 03 23<br/>
        <b>E-mail:</b> info@rollvolet.be
      </div>
      <div>
        <div class="title">Volets - Stores pare soleil - portes sectionnelles</div>
        <div>fond&eacute;e en 1920</div>        
      </div>
    </header>

    <section class="subheader">
      <div class="col col-1">
        <h3>FACTURE D'ACOMPTE <!-- {{NUMBER}} --></h3>
        <div class="references">
          <table>
            <tr class="references--date">
              <td class='key'>Date:</td>
              <td><!-- {{DATE}} --></td>
            </tr>
            <tr class="references--customer_number">
              <td class='key'>Num&eacute;ro de client:</td>
              <td><!-- {{CUSTOMER_NUMBER}} --></td>
            </tr>
            <tr class="references--own_reference">
              <td class='key'>Notre r&eacute;f&eacute;rence:</td>
              <td><!-- {{OWN_REFERENCE}} --></td>
            </tr>
            <tr class="references--ext_reference">
              <td class='key'>Votre r&eacute;f&eacute;rence:</td>
              <td><!-- {{EXT_REFERENCE}} --></td>
            </tr>
          </table>
        </div>
        <div class='building'>
          <table>
            <tr>
              <td class="key">Concerne:</td>
              <td><!-- {{BUILDING}} --></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col col-2">
        <div class="address">
          <!-- {{ADDRESSLINES}} -->
        </div>
        <div class="contact">
          <!-- {{CONTACTLINES}} -->
        </div>
      </div>
    </section>

    <section class="introduction">
      <p class="introduction--reference"><i>Facture d'acompte pour notre offre <!-- {{REQUEST_NUMBER}} --></i></p>
    </section>

    <section class="invoicelines">
      <div class="invoiceline invoiceline-header">
        <div class="col col-1">D&eacute;scription</div>
        <div class="col col-2">Net</div>
      </div>
      <!-- {{INVOICELINES}} -->
      <div class="invoiceline priceline priceline-total-net">
        <div class="col col-1">Prix net de la commande compl&egrave;te</div>
        <div class="col col-2">&euro; <!-- {{TOTAL_NET_PRICE}} --></div>
      </div>
      <div class="invoiceline priceline priceline-vat">
        <div class="col col-1"><!-- {{VAT_RATE}} -->% TVA <span class="taxfree">(autoliquidation)</span></div>
        <div class="col col-2">&euro; <!-- {{TOTAL_VAT}} --></div>
      </div>
      <div class="invoiceline priceline priceline-total-deposit-invoice">
        Acompte &agrave; payer: &euro; <!-- {{TOTAL_GROSS_DEPOSIT_INVOICE}} --> (&euro; <!-- {{TOTAL_NET_DEPOSIT_INVOICE}} --> + TVA <!-- {{VAT_RATE}} -->%)
      </div>
    </section>

    <section class="outroduction">
      <p class="payment-notification">Nous vous prions de verser la solde <span class="payment-notification--deadline"><b>avant le <!-- {{PAYMENT_DUE_DATE}} --> </b></span>sur notre compte <b>BE24 4347 1829 8138</b> en mentionnant le num&eacute;ro de facture <!-- {{NUMBER}} -->.</p>
      <p class="certificate-notification">Veuillez signer et nous renvoyer l'attestation ci-jointe par mail &agrave; admin@rollvolet.be ou par poste &agrave; Rollvolet bvba, Mechelsesteenweg 666, 1800 Vilvoorde.</p>
      <p class="outro">

      </p>
    </section>
  </body>
</html>
